
{% extends "base.html" %}

{% block head %}
        <title>Admin Dashboard</title> 
        <style>
            /* General Styles */
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f5f5f5;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        h1 {
            
            color: #ffffff;
            text-align: center;
            margin-bottom: 20px;
            font-size: 2.5em;
        }

        .adminbuttons {
            border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45%;
  height: fit-content;
  padding: 20px ;
  margin: 200px auto; /* Add this line to center the div */
}

        /* Button Container Styles */
        div {
            margin: 10px 0;
        }

        /* Button Styles */
        button {
            font-size: 1.2em;
            padding: 15px 30px;
            margin: 5px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            color: #fff;
            background: linear-gradient(90deg, #4CAF50, #2A9D8F);
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease;
        }

        button:hover {
            background: linear-gradient(90deg, #2A9D8F, #4CAF50);
            transform: translateY(-2px);
        }

        button:active {
            transform: translateY(0);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }


        </style>
{% endblock %}

{% block username %} {{username}} {% endblock %}

{% block mainsection %}
    <body>
        
        <div class="adminbuttons glass">
            <h1>Admin Portal</h1>
        <div class="userm">
            <button onclick="location.href='/usermanagement'">User Management</button>
        </div>
        <div class="sensm">
            <button onclick="location.href='/sensormanagement'">Sensors Management </button>
        </div>
        <div class="alert">
            <button onclick="location.href='alertmg.html'">Alert Management</button>
        </div>
        <div class="noti">
            <button onclick="location.href='notifmg.html'">Notification Management</button>
        </div>
        </div>
{% endblock %}
