{% extends "base.html" %}

{% block title %} Dashboard {% endblock %}
{% block mainsection %}
<section class="hero-section" style="margin-top: 100px;">
  <div class="hero-text">
    <h1>For a Smarter, Cleaner Future.</h1>
  </div>
  <div class="hero-icons">
    <i class="fas fa-volume-up"></i>
    <i class="fas fa-temperature-high"></i>
    <i class="fas fa-wind"></i>
  </div>
</section>
<section class="charts">
  <div class="chart trend glass">
    <h3>Trend in Past Week</h3>
    <canvas id="trendChart"></canvas>
  </div>
  <div class="chart limit glass ">
    <h3>Standard Limit v/s Current Pollution</h3>
    <canvas id="pollutionChart"></canvas>
  </div>
</section>
<section class="prediction">
  <h3>Prediction for Tomorrow (This may not be 100% accurate)</h3>
  <div class="prediction-icons">
    <i class="fas fa-volume-up"></i>
    <i class="fas fa-wind"></i>
    <i class="fas fa-temperature-high"></i>
  </div>
</section>
{% endblock %}

